/* Fonts */


@font-face {
    font-family: Lato-Light;
    src: url("file:///Users/zanewhitney/Library/Fonts/Lato-Lig.ttf");
}

@font-face {
    font-family: Lato-Reg;
    src: url("file:///Users/zanewhitney/Library/Fonts/Lato-Reg.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("file:///Users/zanewhitney/Library/Fonts/Lato-Bol.ttf");
}

@font-face {
    font-family: Lato-Hairline-Italic;
    src: url("file:///Users/zanewhitney/Library/Fonts/Lato-HaiIta.ttf");
}

@font-face {
    font-family: Calluna;
    src: url("file:///Users/zanewhitney/Library/Fonts/exljbris\ -\ Calluna-Regular.otf");
    font-weight: light;
}

@font-face {
    font-family: Libre Baskerville;
    src: url("file:///Users/zanewhitney/Library/Fonts/LibreBaskerville-Regular.otf");
    font-weight: light;
}

h1 {
    font-family: Lato-Light;
}

strong {
    font-family: Lato-Bold;
    font-size: 17px;
    font-style: bold;
}

blockquote {
    font-family: Lato-Hairline-Italic;
}

/* Navbar */
.navbar-brand {
    font-size: 35px;
    font-family: Calluna;
}

.nav {
    font-family: Lato-Light;
    font-size: 20px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #777;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: #777;
}

/*Keep nav button and brand separate*/
@media (max-width: 400px) {
    .navbar-brand {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .navbar-brand {
        font-size: 25px;
    }
}



/* Adjust jumbo-margin to compensate for larger navbar (can't find less var). */
.jumbotron {
    margin-top: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    color: white;
    text-shadow: #444 0 1px 1px;
}

.about-us {
    background-image: url("../assets/whitlaw_convo_cropped.jpg");
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Tasteful background positions */

@media (max-width: 626px) {
    .about-us > .jumbotron {
        background-position: right center;
    }
}

/* .sec-services > .jumbotron { */
/*     background-image: url("../assets/derp.jpg"); */
/* } */

.case-results {
    background-image: url("../assets/whitlaw_conference.jpg");
}

.contact-us > .jumbotron {
    background-image: url("../assets/whitlaw_on_phone_cropped.jpg");
}

/* Tasteful background positions */

@media (max-width: 556px) {
    .contact-us > .jumbotron {
        background-position: right center;
    }
}

.container, .container-fluid p, address {
    font-family: Lato-Light;
    font-style: light;
    font-size: 17px;
}


/* Phone & Email */
.com-method {
    font-family: Lato-Reg;
}


/* .dropdown-menu > li > a { */
/*     line-height: 60px; */
/*     height: 60px; */
/*     padding-top: 0; */
/* } */



